In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix

In [7]:
df = pd.read_csv('C:/Users/silri/Desktop/Applied_AI/Assigments/ML+Classification+Package/ML Classification Package/3. Logisitic Regression/Facebook_Ads_2.csv',encoding="latin1")
df.head()

,Names,emails,Country,Time Spent on Site,Salary,Clicked
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,25.649648,55330.06006,0
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,32.456107,79049.07674,1
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,20.945978,41098.60826,0
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,54.039325,37143.35536,1
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,34.249729,37355.11276,0

In [8]:
df.columns

Index(['Names', 'emails', 'Country', 'Time Spent on Site', 'Salary',
       'Clicked'],
      dtype='object')

In [11]:
df.drop(['Names', 'emails'],axis=1,inplace=True)

In [12]:
df.head()

        Country  Time Spent on Site       Salary  Clicked
0      Bulgaria           25.649648  55330.06006        0
1        Belize           32.456107  79049.07674        1
2       Algeria           20.945978  41098.60826        0
3  Cook Islands           54.039325  37143.35536        1
4        Brazil           34.249729  37355.11276        0

In [16]:
df_country = pd.get_dummies(df['Country'],drop_first=True)

In [18]:
df.drop(['Country'],axis=1,inplace=True)

In [22]:
df = pd.concat([df,df_country],axis=1)

In [26]:
X = df.drop(['Clicked'],axis=1)
y= df['Clicked']

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,random_state=42)

In [28]:
logit = LogisticRegression(penalty='l2',C=1.0,random_state=42,solver='liblinear',max_iter=100)

In [29]:
logit.fit(X_train,y_train)

LogisticRegression(random_state=42, solver='liblinear')

In [34]:
y_pred = pd.DataFrame(logit.predict(X_test),columns=['y_pred'])

In [36]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       198
           1       0.51      1.00      0.67       202

    accuracy                           0.51       400
   macro avg       0.25      0.50      0.34       400
weighted avg       0.26      0.51      0.34       400

C:\Users\silri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\silri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\silri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [37]:
print(confusion_matrix(y_test,y_pred))

[[  0 198]
 [  0 202]]